#header{
    height: 30%;
    margin-top: 0px;
}
#blank_1{
    width: 30%;
    float: left
}
#content{
    width: 40%;
    float: left;
    
}
.logo {
    height: inherit;
    max-width:  10vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    align-content: center;
    border-bottom-color: transparent;
}
img{
    max-width: 100%;
    height: auto;
}
#font_style_1{
    font-size: 55% ;
    max-width: auto;
    font-family: Montserrat , sans-serif;
    font-weight: bold;
    text-align: center;
    color: #09092B;
    
}
#blank_2{
    width: 30%;
    float: right;
}
